<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @profile.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @profile.lname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
