<h1>Branches</h1>

<p><b>No of Branches: <%= @branches.length %></b></p>
<table border = "1" class="table table-dark" >
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Location</th>
      <th>Address</th>
      <th>School Id</th>
    </tr>
  </thead>
  <tbody>
  <% @branches.each do |branch| %>
    <tr>
        <td><%= branch.id %></td>
        <td><%= branch.location %></td>
        <td><%= branch.address %></td>
        <td><%= branch.school_id %></td>
    </tr>
    <% end %>
  </tbody>
</table><br><br>
