<h1>Teachers</h1>
<p><b>No of Teachers: <%= @teachers.length %></b></p>
<table border = "1" class="table table-dark" >
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Subject</th>
      <th>School Name</th>
      <th>Branch Location</th>
    </tr>
  </thead>
  <tbody>
  <% @teachers.each do |teacher| %>
    <tr>
        <td><%= teacher.id %></td>
        <td><%= teacher.name %></td>
        <td><%= teacher.subject %></td>
        <td><%= teacher.school.name %></td>
        <td><%= teacher.branch.location %></td>
    </tr>
    <% end %>
  </tbody>
</table><br><br>